.border-{
    &l-{
        &system{
            content: '';
            border:2px solid red;
            left:-10px;
            position: absolute;
            height:24px;
            
            border-radius: 2px 1px 1px 2px;
        }
        &function{
            content: '';
            border:2px solid blueviolet;
            left:-10px;
            position: absolute;
            height:24px;
            
            border-radius: 2px 1px 1px 2px;
        }
    }
}

.relative{
    position:relative;
}